#address-information-form {
  h2 {
    text-align: center;
    color: var(--formHeadline);
    background-color: var(--primary);
    width: 80%;
    align-self: center;
    padding: 10px 8px;
    border-radius: 4px;
    transform: translateY(-30px);
  }

  .input-div {

    span {
      color: var(--formInput);
    }
  
    label {
      display: flex;
      flex-direction: column;
      gap: 4px;
  
      input {
        font-size: 14px;
        padding: 4px;
        border-radius: 4px;
        color: var(--formInput);
        background-color: var(--formInputBackground);
        border: 0;
      }
  
      input:focus {
        outline: 1px solid var(--primary);
      }
    }
  }

  .select-div {
    span {
      color: var(--formInput);
    }

    .content-div {

      select {
        width: 100%;
        font-size: 14px;
        padding: 4px;
        border-radius: 4px;
        color: var(--formInput);
        background-color: var(--formInputBackground);
        border: 0;
        cursor: pointer;

        &:focus {
          outline: 1px solid var(--primary);
        }
      }

      img {
        width: 24px;
      }
    }

    .error-message {
      color:  #FF0018;
      font-family: 'ABeeZee', sans-serif;
      font-size: 12px;
      padding-right: 28px;
    }
  }
}