#address-information-form {
  h2 {
    text-align: center;
  }

  label {
    display: flex;
    flex-direction: column;
    gap: 4px;

    input {
      font-size: 14px;
      padding: 4px;
      border-radius: 4px;
      color: var(--cinza3);
      background-color: var(--cinza1);
      border: 0;
    }

    input:focus {
      outline: 1px solid var(--primary);
    }
  }
}