#community-form {

  .community-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Secular One', sans-serif;
    font-size: 16px;
    color: var(--formInput);
    box-shadow: 0 0 4px var(--cinza4);
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    align-self: center;
    width: 80%;
    max-width: 320px;
    transition: 0.5s;
    transform: scale(0.9);
    cursor: pointer;

    img {
      width: 100%;
    }

    input[type=radio] {
      display: none;
    }
  }

  .community-card:hover {
    background-color: var(--cinza1);
  }

  .selected {
    border: 1px solid var(--primary);
    transform: scale(1.1);
  }

  .change-step {
    margin-top: 12px;
  }

  .loading {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--cinza1);
    animation: pulse 1s infinite alternate;
  }
}

@media screen and (min-width: 601px) {
  #community-form {
  
    .community-card {

      span {
        font-size: 20px;
      }
    }

    .loading {
      width: 20px;
      height: 20px;
    }
  }
}