#community-form {
  h2 {
    text-align: center;
  }

  .community-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 4px var(--cinza4);
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;

    label {
      img {
        width: 100%;
        cursor: pointer;
      }

      input[type=radio] {
        display: none;
      }
    }
  }

  .community-card:hover {
    background-color: var(--cinza1);
  }

  .selected {
    background-color: var(--cinza1);
    border: 1px solid var(--primary);
  }
}