#dashboard {
  padding: 30px 20px;

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 38px;

    .community-div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      gap: 12px;

      img {
        border-radius: 50%;
        width: 60%;
        max-width: 200px;
        border: 1px solid var(--primary);
      }

      h2 {
        color: var(--tertiary);
        font-family: 'DynaPuff', cursive;
        font-size: 24px;
      }
    }

    .informations {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 36px;
      width: 100%;
      max-width: 600px;

      .personal-informations, .address-informations {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
        background-color: var(--cardBackground);
        padding: 14px 8px;
        border-radius: 8px;

        .title {
          text-align: center;
          font-size: 18px;
          color: var(--cardHeadline);
          background-color: var(--primary);
          width: 80%;
          align-self: center;
          padding: 12px 8px;
          border-radius: 4px;
          transform: translateY(-30px);
        }

        .user-information-div {
          display: flex;
          flex-direction: column;
          gap: 4px;

          h4 {
            color: var(--cardParagraph);
          }

          p {
            display: flex;
            align-items: center;
            background-color: var(--paragraphBackground);
            height: 26px;
            font-size: 14px;
            padding: 4px;
            border-radius: 4px;
            color: var(--cardParagraph);
            overflow: hidden;
          }
        }
      }

    }

    .user-buttons {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 24px;

      .edit-profile, .delete-profile {
        font-size: 18px;
        padding: 8px;
        margin: 8px 0;
        border-radius: 4px;
        border: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 120px;
      }

      .edit-profile:enabled {
        background-color: #3F8FC4;
      }

      .delete-profile:enabled {
        background-color: #FF0018;
      }

      .edit-profile:enabled:hover, .delete-profile:enabled:hover {
        filter: brightness(0.7);
      }
    }
  }
}

@media screen and (min-width: 601px) {
  #dashboard {
  
    section {
      .community-div {

        img {
          max-width: 300px;
        }

        h2 {
          font-size: 28px;
        }
      }

      .informations {

        .personal-informations, .address-informations {
          padding: 16px;

          .title {
            font-size: 22px;
          }

          .user-information-div {

            h4 {
              font-size: 18px;
            }

            p {
              height: 28px;
              font-size: 16px;
            }
          }
        }

      }

      .user-buttons {

        .edit-profile, .delete-profile {
          font-size: 20px;
          width: 160px;
        }
      }
    }
  }
}