:root {
  --cinza1: #121214;
  --cinza2: #202024;
  --cinza3: #687372;
  --cinza4: #727274;
  --primary: #8257E5;
  --secondary: #DB4FBE;
  --tertiary: #2cb67d;
  --background: #242629;
  --headline: #fffffe;
  --paragraph: #94a1b2;
  --paragraphBackground: #242629;
  --cardBackground: #16161a;
  --cardHeadline: #fffffe;
  --cardParagraph: #94a1b2;
  --formBackground: #16161a;
  --formHeadline: #fffffe;
  --formInput: #94a1b2;
  --formInputBackground: #242629;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: translateX(1.2);
  }
}

button {
  font-family: 'Acme', sans-serif;
}

input, option, .informations .user-information-div p {
  font-family: 'ABeeZee', sans-serif;
}

.registration-forms h2, .informations h3 {
  font-family: 'Carter One', cursive;
  font-weight: 100;
}

.registration-forms .input-div span,
.registration-forms .select-div span,
.informations .user-information-div h4
{
  font-family: 'Secular One', sans-serif;
  font-weight: 100;
}
