#page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:  14px 20px;
  background-color: var(--cinza2);
  box-shadow: 0 1px 2px var(--cinza1);

  #page-title {
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    font-weight: 200;
    color:  var(--primary);

  }

  #header-button {
    font-size: 16px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: var(--secondary);

    &:hover:enabled {
      cursor: pointer;
      text-shadow: 0 0 4px var(--secondary);
    }

    &:hover:disabled {
      cursor: not-allowed;
    }
  }
}

@media screen and (min-width: 601px) {
  #page-header {
  
    #page-title {
      font-size: 24px;
  
    }
  
    #header-button {
      font-size: 18px;
    }
  }
}