#personal-information-form {
  
  .input-div {

    span {
      color: var(--formInput);
    }
  
    label {
      display: flex;
      flex-direction: column;
      gap: 4px;
  
      input {
        font-size: 14px;
        padding: 4px;
        border-radius: 4px;
        color: var(--formInput);
        background-color: var(--formInputBackground);
        border: 0;
      }
  
      input:focus {
        outline: 1px solid var(--primary);
      }
    }
  }
}