#registration {
  padding: 30px;

  #registration-steps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
    .progress-bar {
      display: flex;
      justify-content: center;
      gap: 60px;
  
      .step {
        transition: 1s;
        position: relative;
        display: inline-block;
        width: 32px;
        height: 32px;
        border:  2px solid black;
        border-radius: 50%;
        padding: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--cinza4);
  
        img {
        width: 30px;
        height: 30px;
        }
  
        &::before, &::after {
          content: '';
          border:  2px solid black;
          position: absolute;
          left: 31px;
          height: 4px;
          width: 54px;
          border-radius: 9999px;
          background-color: var(--cinza4);
        }
  
        &:last-child::before, &:last-child::after {
          display: none;
        }
      }
  
      .finished {
        transition: 1s;
        background-color: var(--primary);
      }
  
      .finished::after {
        background-color: var(--primary);
        transform: scaleX(0);
        transform-origin: left;
        animation: loadBar 0.7s linear forwards;
      }
    }

    .registration-forms {
      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        color:  var(--cinza4);
        background-color: var(--cinza2);
        padding: 8px;
        gap: 16px;
        border-radius: 4px;
        box-shadow: 0 0 8px var(--cinza2);
        animation: appear 1s ease-in-out;

        .change-step {
          display: flex;
          justify-content:  space-between;
      
          .back, .next {
            font-size: 14px;
            padding: 8px;
            margin: 8px 0;
            border-radius: 4px;
            border: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80px;
          }

          .back, .next:enabled {
            background-color: var(--primary);
            cursor: pointer;
          }

          .back:hover, .next:enabled:hover {
            filter: brightness(0.7);
          }

          next:disabled {
            background-color: var(--cinza3);
            cursor: not-allowed;
          }
        }
      }
    }
  }  
}

@keyframes loadBar {
  100% {
    transform: scaleX(1);
  }
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1.0);
  }
}