#registration {
  padding: 30px;

  #registration-steps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 42px;

    .progress-bar {
      display: flex;
      justify-content: center;
      gap: 70px;
  
      .step {
        transition: 1s;
        position: relative;
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        padding: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--paragraph);

        span {
          font-family: 'ABeeZee', sans-serif;
        }
  
        img {
          width: 30px;
          height: 30px;
        }
  
        &::before, &::after {
          content: '';
          position: absolute;
          left: 36px;
          height: 4px;
          width: 62px;
          border-radius: 9999px;
          background-color: var(--paragraph);
        }
  
        &:last-child::before, &:last-child::after {
          display: none;
        }
      }
  
      .finished {
        transition: 1s;
        background-color: var(--primary);
      }
  
      .finished::after {
        background-color: var(--primary);
        transform: scaleX(0);
        transform-origin: left;
        animation: loadBar 0.7s linear forwards;
      }
    }

    .registration-forms {
      display: flex;
      justify-content: center;

      form {
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        background-color: var(--formBackground);
        padding: 8px;
        gap: 16px;
        border-radius: 4px;
        box-shadow: 0 0 8px var(--cinza2);
        animation: appear 1s ease-in-out;

        h2 {
          text-align: center;
          font-size: 18px;
          font-weight: 100;
          color: var(--formHeadline);
          background-color: var(--primary);
          width: 80%;
          align-self: center;
          padding: 10px 8px;
          border-radius: 4px;
          transform: translateY(-30px);
        }

        .input-div {
          display: flex;
          flex-direction: column;
          gap: 4px;

          .content-div {
            display: flex;
            align-items: center;
            gap: 4px;

            label {
              width: 100%;

              input {
                width: 100%;
              }
            }

            img {
              width: 24px;
            }
          }

          .error-message {
            color:  #FF0018;
            font-family: 'ABeeZee', sans-serif;
            font-size: 12px;
            padding-right: 28px;
          }
        }
        
        .change-step {
          display: flex;
          justify-content:  space-between;
      
          .back, .next {
            font-size: 14px;
            padding: 8px;
            margin: 8px 0;
            border-radius: 4px;
            border: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80px;
          }

          .back, .next:enabled {
            background-color: var(--primary);
            cursor: pointer;
          }

          .back:enabled:hover, .next:enabled:hover {
            filter: brightness(0.7);
          }

          .back:disabled, .next:disabled {
            background-color: var(--cinza3);
            cursor: not-allowed;
          }
        }
      }
    }
  }  
}

@media screen and (min-width: 601px) {
  #registration {
 
    #registration-steps {
  
      .progress-bar {
        gap: 100px;
    
        .step {
          width: 42px;
          height: 42px;
    
          img {
            width: 40px;
            height: 40px;
          }
    
          &::before, &::after {
            left: 46px;
            height: 6px;
            width: 92px;
          }
        }
      }
  
      .registration-forms {
  
        form {
          padding: 16px;
  
          h2 {
            font-size: 22px;
          }
  
          .input-div {
            
            span {
              font-size: 18px;
            }

            .content-div {
              gap: 8px;
  
              label {
  
                input {
                  font-size: 16px;
                }
              }
  
              img {
                width: 28px;
              }
            }

            .error-message {
              font-size: 14px;
            }
          }
          
          .change-step {
        
            .back, .next {
              font-size: 18px;
              width: 100px;
            }
          }
        }
      }
    }  
  }
}

@keyframes loadBar {
  100% {
    transform: scaleX(1);
  }
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1.0);
  }
}